.container-fluid {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/fondo.png");
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); /* opacidad del overlay oscuro */
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  .card {
    flex: 0 1 370px;
  }
}

h1 {
  color: #213a5b !important;
}
